/* ====== Header Style ====== */
.site-header {
  background-color: var(--comColor);
  display: grid;
  grid-template-columns: 3fr 1fr;
  color: white;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;

}

:root {
  --comColor: rgb(99, 99, 245);
}

.site-header .brand {
  font-size: 1.5rem;
  font-weight: bold;
}

  .logout-btn:hover{
    background: rgb(252, 45, 45) !important;
  }

.site-header nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.site-header nav ul li a {
  color: white;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  transition: color 0.3s ease;
}

.site-header nav ul li a:hover {
  color: #ffffff;
}
.logoText{
  font-size: 28px;
  font-weight: bold;
  color: #fff;
  font-family: 'watad', cursive;
  margin: 0;
}

/* ====== Footer Style ====== */
.footer-gridFo {
  display: flex;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  padding: 20px;
  margin-top: auto;

}


.site-footerFo {
  margin-top: auto;
  flex-wrap: wrap;
  width: 100%;
  position: absolute;
  /* bottom: 0; */
  margin-top: 32px;

  background: var(--comColor);
  color: rgb(254, 254, 254);
  /* font: weight 700px ; */
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}

.site-footerFo div {
  flex-grow: 1;
}

.site-footerFo h3 {
  margin: 0 0 8px;
  font-size: 18px;
}

.site-footerFo ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.site-footerFo li {
  margin: 6px 0;
}

.site-footerFo a {
  color: #fff;
  opacity: 0.95;
}

.site-footerFo a:hover {
  opacity: 1;
  text-decoration: underline;
}

.footer-bottomFo {
  text-align: center;

  background: rgba(0, 0, 0, 0.08);
}

.containerMain {
  font-family: Tahoma, Arial, sans-serif;
  /* font-size: 700; */
  color: rgb(11, 56, 90);
}

a {
  color: inherit;
  text-decoration: none;
}



.header-bar {
  float: left;
  align-items: center;
  justify-content: space-between;
  display: flex;

}

.brand {
  margin: 0;
  font-size: 22px;
}

.nav a {
  margin: 0 8px;
}




.btn {
  position: relative;
  padding: 12px 24px;
  background: var(--comColor);
  color: rgb(1, 32, 53);
  font-size: 18px;
  font-weight: bold;
  border-radius: 12px;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}



.btn:hover::before {
  left: 0;
}

.btn:hover {
  color: #fff;
  background: rgb(1, 48, 58);
  transform: translateY(-3px) scale(1.05);
}

/* أنيميشن عند الضغط */
.btn:active {
  transform: translateY(0) scale(0.98);
}



/* 

/* *************************************************************************** */




/* ****************************************************************************************** */
/* General style for all buttons */
.btns {
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

/* Signup Button */
#signup-btn {
  background: rgb(39, 204, 223);
  color: rgb(247, 250, 250);
}

#signup-btn:hover {
  background: rgb(3, 54, 76);
  transform: translateY(-2px);
}

/* Login Button */
#lin {

  margin-right: 15px;
  background: rgb(39, 204, 223);
  color: rgb(245, 245, 245);
}

#lin:hover {
  background: rgb(3, 54, 76);
  transform: translateY(-2px);
}

/* Logout Button */
#lout {
  background: rgb(114, 206, 243);
  color: white;
  border-radius: 10px;
  font-weight: 700;
}

#lout:hover {
  background: rgb(1, 65, 77);
  transform: translateY(-2px);
}

/* logo ==========================================================*/
@font-face {
  font-family: 'diwani';
  /* Name of the font */
  src: url('../fonts/alsamt diwani.ttf') format('truetype');
  /* Path to the .ttf file */
}

@font-face {
  font-family: 'watad';
  /* Name of the font */
  src: url('../fonts/watad.otf') format('truetype');
  /* Path to the .ttf file */
}

@font-face {
  font-family: 'Playmaker';
  /* Name of the font */
  src: url('../fonts/Playmaker D.ttf') format('truetype');
  /* Path to the .ttf file */
}

/* ====== Header Style ====== */
.site-header {
  background-color: var(--comColor);
  display: grid;
  grid-template-columns: 3fr 1fr;
  /* لون الهيدر */
  color: white;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;

}

:root {
  --comColor: rgb(99, 99, 245);
}

.site-header .brand {
  font-size: 1.5rem;
  font-weight: bold;
}

.logout-btn:hover {
  background: rgb(252, 45, 45) !important;
}

.site-header nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.site-header nav ul li a {
  color: white;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  transition: color 0.3s ease;
}

.site-header nav ul li a:hover {
  color: #ffffff;
}

.logoText {
  font-size: 48px;
  font-weight: bold;
  color: azure;
  font-family: 'Playmaker', cursive;
  margin: 0;
}

/* ====== Footer Style ====== */
.footer-gridFo {
  display: flex;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  padding: 20px;
  margin-top: auto;

}

.site-footerFo {
  margin-top: auto;
  flex-wrap: wrap;
  width: 100%;
  position: absolute;
  /* bottom: 0; */
  margin-top: 32px;

  background: var(--comColor);
  color: rgb(254, 254, 254);
  /* font: weight 700px ; */
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}

.site-footerFo div {
  flex-grow: 1;
}

.site-footerFo h3 {
  margin: 0 0 8px;
  font-size: 18px;
}

.site-footerFo ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.site-footerFo li {
  margin: 6px 0;
}

.site-footerFo a {
  color: #fff;
  opacity: 0.95;
}

.site-footerFo a:hover {
  opacity: 1;
  text-decoration: underline;
}

.footer-bottomFo {
  text-align: center;

  background: rgba(0, 0, 0, 0.08);
}

.containerMain {
  font-family: Tahoma, Arial, sans-serif;
  /* font-size: 700; */
  color: rgb(11, 56, 90);
}

a {
  color: inherit;
  text-decoration: none;
}



.header-bar {
  float: left;
  align-items: center;
  justify-content: space-between;
  display: flex;

}

.brand {
  margin: 0;
  font-size: 22px;
}

.nav a {
  margin: 0 8px;
}




.btn {
  position: relative;
  padding: 12px 24px;
  background: var(--comColor);
  color: rgb(1, 32, 53);
  font-size: 18px;
  font-weight: bold;
  border-radius: 12px;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}



.btn:hover::before {
  left: 0;
}

.btn:hover {
  color: #fff;
  background: rgb(1, 48, 58);
  transform: translateY(-3px) scale(1.05);
}

/* أنيميشن عند الضغط */
.btn:active {
  transform: translateY(0) scale(0.98);
}



/* 

/* *************************************************************************** */




/* ****************************************************************************************** */
/* General style for all buttons */
.btns {
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

/* Signup Button */
#signup-btn {
  background: rgb(39, 204, 223);
  color: rgb(247, 250, 250);
}

#signup-btn:hover {
  background: rgb(3, 54, 76);
  transform: translateY(-2px);
}

/* Login Button */
#lin {

  margin-right: 15px;
  background: rgb(39, 204, 223);
  color: rgb(245, 245, 245);
}

#lin:hover {
  background: rgb(3, 54, 76);
  transform: translateY(-2px);
}

/* Logout Button */
#lout {
  background: rgb(114, 206, 243);
  color: white;
  border-radius: 10px;
  font-weight: 700;
}

#lout:hover {
  background: rgb(1, 65, 77);
  transform: translateY(-2px);
}