body { margin: 0; padding: 0; } 
main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    padding: 20px;
}

.schedule-container {
    background: white;
    padding: 35px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    font-weight: bold;
}

input,
button {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ddd;
}

button {
    background: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #0056b3;
}
.labelG
{
    font-size: 14px;
}
h4{
    margin:2px;
    color: #007bff;
}